NEXT_PUBLIC_SUPABASE_URL=https://yqwkiugnpgeigntkwipi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlxd2tpdWducGdlaWdudGt3aXBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMDUzMTksImV4cCI6MjEwMzU4MTMxOX0.wcihBXBImGmn47VMvMfZsV4nRmMDvuVl1rMF_PNy1q0
